@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
